body {
  background: #f5f7f8;
}

.grid-1 {
  padding-top: 40px;
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
}

.grid-hover:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
}
/* items */

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* specific item styles */

.item-1 {
  background: #b03532;
}
.item-2 {
  background: #33a8a5;
}
.item-3 {
  background: #ff9069;
}
.item-4 {
  background: #6a478f;
}
.item-5 {
  background: #3d8bb1;
}
.item-6 {
  background: #4464a1;
}
.item-7 {
  background: #e03f3f;
}
.item-8 {
  background: #59a627;
}
.item-9 {
  background: #b03532;
}
.item-10 {
  background: #4464a1;
}
.item-11 {
  background: #33a8a5;
}
.item-12 {
  background: #ff9069;
}
.item-13 {
  background: #3d8bb1;
}
.item-14 {
  background: #da6f2b;
}
.item-15 {
  background: #59a627;
}
.item-16 {
  background: #30997a;
}
.item-17 {
  background: #6a478f;
}
.item-18 {
  background: #da6f2b;
}